/* Helpers */
.center-text {
  text-align: center !important;
}

.full-height {
  height: 100vh !important;
}

.vertical-center-admin-layout {
  height: calc(100vh - 300px) !important
}

.full-width {
  width: 100%;
}

.float-right {
  float: right;
}

/* Loader */
.loading-indicator {
  filter: blur(1px)
}

/* CenterWrapper */
#auth-wrapper .bordered-box {
  border: 1px solid #e8e8e8;
}

#auth-wrapper .bordered-box:hover {}

/* Form */
.ant-form-item-label label:after {
  content: '' !important;
}

.ant-row.ant-form-item {
  margin-bottom: 5px !important;
}

.ant-form-item-control {
  line-height: 0% !important;
  position: unset;
  zoom: 1;
}

.input-form-label {
  position: relative;
  top: 8px;
  opacity: 1;
  animation: fadein;
  animation-duration: 1s;
  z-index: 99;
}

.input-has-error {
  color: red;
}

.input-has-feedback {
  color: #1890ff;
  cursor: pointer;
}

.ant-form-item-control.has-error {
  margin-bottom: 18px;
}

/* AuthWrapper */
#auth-wrapper .logo {
  width: 50%;
}

/* AnimationWrapper */
#animation-wrapper {
  animation: fadein;
  animation-duration: 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Sidebar */
.logo img {
  width: 100%;
}

/* Datatable */
#btable {
  border: 1px solid #e8e8e8;
}

#btable td {
  padding: 10px;
}

#btable tr:nth-child(even) {
  background-color: #fbfbfb !important;
}







/* body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
} */

.table-header {
  padding: 30px !important;
}

table {
  /* border: 1px solid #ccc; */
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  /* border: 1px solid #ddd; */
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  /* text-align: center; */
}

table th {
  /* font-size: .85em; */
  /* letter-spacing: .1em; */
  /* text-transform: uppercase; */
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

/* Tabs */
.ant-tabs-nav .ant-tabs-tab {
  margin: 0 10px 0 0 !important;
}

/* Gallery */
.img-container {
  height: 10% !important;
}

.img-container .actions {
  display: none;
  transition: 1s;
}

.img-container:hover .actions {
  display: inline;
  transition: 1s;
}

.gallery {
  display: grid;
  grid-gap: 15px;
  padding: 15px;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.gallery-image {
  display: block;
  border-radius: 3px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  margin-bottom: 0.5em;
  position: relative;
}

.gallery-image img {
  border-radius: 3px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-height: 120px !important;
  cursor: zoom-in;
}

.gallery-image .gallery-image-delete-button {
  opacity: 0;
  z-index: 99;
  position: absolute;
  top: -10px;
  right: -10px;
  transition: 1s;
}

/* .gallery-uploader { */
  /* border-radius: 3px; */
  /* box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15); */
  /* padding: 10px; */
  /* max-height: 60px; */
/* } */

.gallery-image:hover .gallery-image-delete-button {
  opacity: 1;
  transition: 1s;
}

.uploader-label {
  color: black;
  transition: 1s;
}

.uploader-label .anticon {
  cursor: pointer;
  padding: 10px;
  border: 1px dashed #e8e8e8;
  border-radius: 3px;
}

.gallery-uploader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.uploader-label:hover {
  color: #1890ff;
  transition: 1s;
}